.country-detail {
  margin-top: 100px;
}

.back-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 28px;
  background: var(--element-bg);
  border: none;
  box-shadow: 0 2px 6px var(--shadow-color);
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 60px;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}


.back-btn .back-icon {
  width: 18px;
  height: 18px;
  color: var(--text-color);
}

.back-btn:hover {
  background: rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}

.app.light .back-btn {
  background: transparent; 
  box-shadow: none;
  padding-left: 0;
}

.back-btn img {
  width: 18px;
  height: 18px;
}

.detail-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 100px;
  flex-wrap: wrap;
}

.detail-flag {
  width: 40%;
  min-width: 320px;
  border-radius: 8px;
  box-shadow: 0 4px 15px var(--shadow-color);
}

.detail-info {
  flex: 1;
  min-width: 320px;
}

.detail-info h1 {
  margin-bottom: 28px;
  font-size: 34px;
  font-weight: 800;
  color: var(--text-color);
}

.detail-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 40px;
}

.detail-grid p {
  margin: 8px 0;
  font-size: 15px;
  color: var(--text-color);
}

.detail-grid strong {
  font-weight: 600;
  color: var(--text-color);
}

.border-countries {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 30px;
}

.border-countries strong {
  font-weight: 600;
  margin-right: 8px;
  color: var(--text-color);
}

.border-box {
  padding: 6px 20px;
  background: var(--element-bg);
  border-radius: 4px;
  box-shadow: 0 2px 6px var(--shadow-color);
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  cursor: pointer;              
  transition: all 0.2s ease-in-out;
}

.border-box:hover {
  background: rgba(0, 0, 0, 0.1); 
  transform: translateY(-2px);
}

.border-box:focus {
  outline: 2px solid var(--text-color);
  outline-offset: 2px;
}


